body {
    margin: 0;
    padding: 0;
}
/* header */
.head {
    background-image: url("/css/img/nav.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 50vh;
}
.container p{
    font-size: 20px;
    font-weight: bold;
    color: #F0D9FF;

}
.navbar {
    display: flex;
    flex-direction: row;
}
.nav-list {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 58%; 
    margin-top: 3%;
}
.nav-list li {
      list-style: none; 
}
.nav-list .nav-link a {
    margin: .2rem;
    padding: 1rem 1rem;
    font-size: 19px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(225, 225, 225, 0.2); 
    }
.nav-list .nav-link a:hover {
    background: rgba(225, 225, 225, 0.6); 
    }


.ti {
    padding-top: 30px;
    text-align: center;
}
/* header end */


.container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cart {
    width: 300px;
    margin: 10px;
    margin-left: 10px;
}

.articles > div {
    width: 200px;
    margin: 20px;
}

img {
    width: 100%;
    border-radius: 20px;
}

.prod {
    display: flex;
    flex-direction: row;
}

.tit {
    width: 100px;
    padding-left: 20px;
}

#price1, #price2, #price3, #price4 {
    margin-right: 5px;
}

.inputs, input, select {
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

input {
    width: 50px;
}

.addTo {
    position: relative;
    left: 0px;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #CAB8FF;
    color: beige;
    border-width: 0px;
}

.addTo:hover {
    background-image: none;
    background-color:pink;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#message1, #message2, #message3, #message4 {
    color: #C996CC;
    text-align: center;
}
#message1, #message2, #message3, #message4, p {
    font-size: 14px;
}

button {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    color: aliceblue;
    background-color: #ff512f;
    border-width: 0px;
}

button:hover {
    background-color: #dd2476;
}


/* footer */
.footer {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B5DEFF;
  }
  

.footer .newsletter .newsletter {
    font-size: 34px;
    font-weight: bold;
  }
  
.footer .newsletter .email {
    width: 60%;
    height: 3vw;
  }
  
.footer .newsletter .submit {
    width: 20%;
    height: 3vw;
    letter-spacing: 1px;
    color: #fff;
    background-color: #709FB0;
    border: 2px solid #709FB0;
    outline: none;
    cursor: pointer;
    transition: all 1s;
    font-size: 12px;
  }
  
.footer .newsletter .submit:hover {
    background-color: #5EAAA8;
    border: 2px solid #5EAAA8;
  }
  
  
.footer-header {
    display: flex;
    align-items: center;
  }
  
.footer .social-media {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-bottom: -10%;
  }
  
.footer .social-media-item {
    list-style: none;
  }
  
.footer .social-media-link {
    text-decoration: none;
    font-size: 50px;
    color: #D4B499;
    transition: color 0.7s;
  }
  
.footer .social-media-link:hover {
    color: #E0C097;
  }
  